/* =============================================================================
   CENICOM ERP
   CN UI Framework
   -----------------------------------------------------------------------------
   Componente : Pagination
   Archivo    : pagination.css
   Versión    : 1.0.0
   ============================================================================= */

/* =============================================================================
   Pagination
   ============================================================================= */

.cn-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}
