/*======================================================
    CN TOOLBAR
======================================================*/

.cn-toolbar{

    display:flex;
    flex-direction:column;
    gap:1rem;
    width:100%;

}

.cn-toolbar-main{

    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:1rem;
    flex-wrap:wrap;

}

.cn-toolbar-left{

    display:flex;
    align-items:center;
    gap:.75rem;
    flex-wrap:wrap;

}

.cn-toolbar-center{

    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:.75rem;

}

.cn-toolbar-right{

    display:flex;
    justify-content:flex-end;
    align-items:center;
    gap:.75rem;
    flex-wrap:wrap;

}

.cn-toolbar-filters{

    display:flex;
    flex-wrap:wrap;
    gap:1rem;
    padding:1rem;

    background:var(--cn-surface);

    border:1px solid var(--cn-border);

    border-radius:var(--cn-radius-lg);

}
