/* ==========================================================
   CN UI Framework
   Layout System
========================================================== */

/*==========================
  APP
==========================*/

.cn-app{

    min-height:100vh;

    background:var(--cn-background);

}

/*==========================
  CONTAINER
==========================*/

.cn-container{

    width:100%;

    max-width:1440px;

    margin:0 auto;

    padding:var(--cn-space-lg);

}

/*==========================
  PAGE
==========================*/

.cn-page{

    display:flex;

    flex-direction:column;

    gap:var(--cn-space-lg);

}

/*==========================
  GRID
==========================*/

.cn-grid{

    display:grid;

    gap:var(--cn-space-lg);

}

/*==========================
  COLUMNAS
==========================*/

.cn-grid-2{

    grid-template-columns:repeat(2,1fr);

}

.cn-grid-3{

    grid-template-columns:repeat(3,1fr);

}

.cn-grid-4{

    grid-template-columns:repeat(4,1fr);

}

.cn-grid-6{

    grid-template-columns:repeat(6,1fr);

}

.cn-grid-12{

    grid-template-columns:repeat(12,1fr);

}
