/*==========================
  Flex
==========================*/

.cn-flex{

    display:flex;

}

.cn-flex-between{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.cn-flex-center{

    display:flex;

    justify-content:center;

    align-items:center;

}

/*==========================
  Width
==========================*/

.cn-w-100{

    width:100%;

}

/*==========================
  Text
==========================*/

.cn-text-center{

    text-align:center;

}

.cn-text-right{

    text-align:right;

}

/*==========================
  Margin Bottom
==========================*/

.cn-mb-sm{

    margin-bottom:var(--cn-space-sm);

}

.cn-mb-md{

    margin-bottom:var(--cn-space-md);

}

.cn-mb-lg{

    margin-bottom:var(--cn-space-lg);

}
