.cn-search{

    display:flex;

    align-items:center;

    gap:.75rem;

    width:320px;

    padding:0 .90rem;

    height:42px;

    background:var(--cn-surface);

    border:1px solid var(--cn-border);

    border-radius:10px;

}

.cn-search i{

    color:var(--cn-text-muted);

}

.cn-search-input{

    flex:1;

    background:none;

    border:none;

    color:var(--cn-text);

}

.cn-search-input:focus{

    outline:none;

}
